/*
*{
	margin: 0;
	padding: 0;
}	
*/

body{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 700;
	/* font: 700 20px sans-serif; this is the same as above */
	background-color: #af9a99;
	color: #555555;  
	line-height: 1.6em;
	margin: 2px;
}
a{
	color:#555555;
	text-decoration: none;
}

a:hover{
	color: red;
}

/* classes can be used multiple times, id's are unique */

.container{
	width: 80%;
	margin: auto;
}

.article{
	background-color: #333333;
	color: #fff;
	border: 5px red solid; 
	border-bottom-style:dotted;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.article h3{
	font-family:sans-serif;
	font-weight: 800;
	font-style:italic;
	text-decoration: underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
}

.my-form{
	padding: 20px;
}

.name{
	padding-bottom: none;
}

.form-group{
	padding-bottom: 15px;
}

.my-form label{
	display:block; /*blocks are on separate lines*/
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 40%;
	border-color: red;
	border-width: 2px;
}

/*.my-form textarea{
	padding: 8px;
	width: 100%;
	border-color: red;
	border-width: 2px;
}*/

.button{
	background-color: #99ff33;
	color: #004d00;
	padding: 10px 15px;
	border-color: #004d00;
	margin-left: 100px;
	font-family: sans-serif;
}

.button:hover{
	background-color: #004d00;
	color: white;
}

.clr{
	clear: both;
}

.block{
	float: left;
	width:33.3%;
	padding: 10px;
	border-radius: 30px;
	border:2px dotted red;
	box-sizing: border-box;
	margin-top:40px;
	margin-bottom: 20px;
}

.categories{
	padding: 20px;
	border:1px #ccc solid;
	border-radius: 35px;
	margin: 3px;
}

.categories h3{
	text-align: left;
	font-family:sans-serif;
	font-weight: 800;
	letter-spacing:0.2em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.categories ul{
	list-style: none;
	padding: 0;
	position:relative;
	left: 30px;
}

.categories li{
	padding-bottom: 2px;
	border-bottom: 1px dotted white;
	list-style-image: url(../images/red.png);
}

#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing:border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color:#333;
	color:#fff;
	padding:15px;
	box-sizing: border-box;
}

.p-box{
	width: 800px;
	height: 500px;
	margin-top:30px;
	padding: 2px;
	border: 1px solid #333;
	position: relative;
	background-image: url(../images/lel.jpeg);
	background-position: center;
}

#hello{
	position: absolute;
	top: 75px;
	left:200px;
	color: #ff8c1a
}

#bye{
	position: absolute;
	top: 400px;
	right: 300px;
	color: #ff8c1a
}

.fix-me{
	position: fixed;
	top: 300px;
	margin-left: 0px;
}

.my-list li:first-child{
	background: red;

}

.my-list li:last-child{
	background: blue;
}

.my-list li:nth-child(5){
	background: yellow;
}

.my-list li:nth-child(even){
	background: purple;
}